{% extends 'base.html.twig' %}
{% block bouton %}
    <a href="{{ path('app_vente_new') }}"
       class="btn btn-primary text-white me-0"><span
                class="mdi mdi-cart-arrow-right"></span> Effectuer une vente</a>
{% endblock %}
{% block breadcrumb %}
    Tableau de bord
{% endblock %}
{% block body %}

    <div>
        {% for flashMessage in app.flashes('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>


    <div class="table-responsive">
        <table class="table table-bordered table-hover mt-3">
            <thead class="table-secondary">
            <tr>
                <th>Nombre de vente du jour</th>
                <th>Recette du jour</th>
                <th>Montant en caisse</th>

            </tr>
            </thead>
            <tbody>
            <tr>

                <td style="font-weight: bold; font-size: 24px;">

                    {{ totalVentes }} vente(s) en ce jour

                </td>
                <td style="font-weight: bold; font-size: 24px;">

                    {{ montantJour }} Fcfa

                </td>

                <td style="font-weight: bold; font-size: 24px;">

                    {{ montantCaisse }} Fcfa

                </td>

            </tr>

            </tbody>
        </table>
    </div>

    <div class="my-5">
        <hr>
        <div class="text-center">
            <h3>
                Listes des ventes de la semaines
            </h3>
        </div>
        <hr>
    </div>
<div class="col-12">

            <table class="table table-hover table-bordered" id="myTable">
                <thead class="table-secondary">
                <tr>

                    <th>Nom Client</th>
                    <th>Montant</th>
                    <th>Quantité Stock</th>
                    <th>Date Ajout</th>
                    {#                                        <th>Action</th> #}
                </tr>
                </thead>
                <tbody>
                {% for ventesSemaine in ventesSemaines %}
                    <tr>
                        <td>{{ ventesSemaine.client.nomsClient }}</td>
                        <td>{{ ventesSemaine.montantTotal }} Fcfa</td>
                        <td>oo</td>
                        <td>{{ ventesSemaine.dateVente ? ventesSemaine.dateVente|date('Y-m-d') : '' }}</td>
                        {#                                            <td> #}
                        {#                                                <a href="{{ path('app_produit_show', {'id': produit.id}) }}">Voir</a> #}
                        {#                                                <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a> #}
                        {#                                            </td> #}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

</div>

{% endblock %}