{% extends 'base.html.twig' %}

{% block bouton %}
    <a class="btn btn-primary text-white" href="{{ path('app_vente_index') }}">Retour</a>
{% endblock %}

{% block breadcrumb %}
    Vente
{% endblock %}

{% block body %}
    <form method="post" action="{{ path('app_vente_processvente') }}">
        <!-- Formulaire de saisie client et numéro -->
        <div class="card-title">
            Informations relatives au <span class="bg-success badge">client</span>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-label" for="client">Noms et prénoms</label>
                <input class="form-control" type="text" id="client" name="client" required>
            </div>
            <div class="form-group col-md-6">
                <label class="form-label" for="numero">Numéro de téléphone :</label>
                <input class="form-control" type="text" id="numero" name="numero" required>
                <input type="hidden" id="venteValider" name="venteValider" required>
            </div>
        </div>
        <hr>
        <!-- Tableau des produits disponibles -->
        <div class="card-title">
            Listes des produits <span class="bg-success badge">disponibles</span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered" id="table-produits">
                <thead class="table-secondary">
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Stock Restant</th>
                    <th>Sélectionner</th>
                </tr>
                </thead>
                <tbody>
                {% for produit in produits %}
                    <tr class="produit-ligne" data-produit-id="{{ produit.id }}" data-produit-stock="{{ produit.quantiteStock }}" data-produit-nom="{{ produit.nomProduit }}" data-produit-prix="{{ produit.prix }}">
                        <td>{{ produit.nomProduit }}</td>
                        <td>{{ produit.prix }}</td>
                        <td>{{ produit.quantiteStock }}</td>
                        <td>
                            <input type="checkbox" class="produit-checkbox" data-produit-stock="{{ produit.quantiteStock }}" data-produit-nom="{{ produit.nomProduit }}" data-produit-prix="{{ produit.prix }}" data-produit-id="{{ produit.id }}">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <div class="card-title mt-3 mb-3">
            Listes des produits <span class="bg-success badge">sélectionnés</span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered" id="table-produits-selectionnes">
                <thead class="table-primary">
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Coût</th>
                </tr>
                </thead>
                <tbody id="produitSelectioner"></tbody>
            </table>
        </div>
        <hr>
        <div class="card-title d-flex justify-content-end">Montant total : <span id="montant_total">0</span> F</div>
        <button type="submit" class="btn btn-primary" id="envoyer">Valider la vente</button>
    </form>
    <!-- /.modal-content -->
    <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <p class="messageStock"></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .table {
            margin-bottom: 20px;
        }
        .produit-ligne {
            cursor: pointer;
        }
        .produit-ligne:hover {
            background-color: #f8f9fa;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        // Sauvegarder les produits sélectionnés
        var tabProduitSelect = [];
        var totale = 0;

        $(".produit-ligne").on("click", function() {
            var checkbox = $(this).find(".produit-checkbox");
            checkbox.prop("checked", !checkbox.prop("checked"));
            checkbox.trigger("change");
        });

        $(".produit-checkbox").on("change", function() {
            var idProduit = $(this).attr("data-produit-id");
            var prixProduit = $(this).attr("data-produit-prix");
            var nomProduit = $(this).attr("data-produit-nom");
            var stockProduit = $(this).attr("data-produit-stock");

            if (parseFloat(stockProduit) == 0) {
                $('.messageStock').text('Ce produit est indisponible pour le moment');
                $('.bs-example-modal-center').modal('show');
                $(this)[0].checked = false;
            } else {
                if ($(this).is(':checked')) {
                    tabProduitSelect.push({
                        id: idProduit,
                        quantite: 1,
                        prix: prixProduit,
                        coutProduit: prixProduit,
                        stock: stockProduit,
                        nomproduit: nomProduit
                    });

                    $('#produitSelectioner').append(
                        '<tr class="produit' + idProduit + '">' +
                        '<td class="text-right nom">' + nomProduit + '</td>' +
                        '<td class="text-left"><span class="prix">' + prixProduit + '</span></td>' +
                        '<td class="text-left"><input type="number" class="form-control border-primary border-2 quantite-input" min="0" value="1" data-produit-stock="' + stockProduit + '" data-produit-id="' + idProduit + '"></td>' +
                        '<td class="text-right"><span class="cout">' + prixProduit + '</span></td>' +
                        '</tr>'
                    );
                    totale = totale + parseFloat(prixProduit);
                    $("#montant_total").text(totale);
                } else {
                    $('.produit' + idProduit).remove();
                    for (let index = 0; index < tabProduitSelect.length; index++) {
                        if (tabProduitSelect[index].id == idProduit) {
                            totale = totale - tabProduitSelect[index].coutProduit;
                            $("#montant_total").text(totale);
                        }
                    }
                    tabProduitSelect = tabProduitSelect.filter((element) => { return element.id != idProduit });
                }
            }
            console.log(tabProduitSelect);
        });

        $("body").on('keyup', '.quantite-input', function() {
            var quantiter = $(this).val();
            var idProduit = $(this).attr("data-produit-id");
            var stockProduit = $(this).attr("data-produit-stock");
            var parenttr = $(this).parent().parent();
            var enfant = parenttr.children();
            var prix = enfant.find('.prix').text();
            var coutspan = enfant.find('.cout');
            if (quantiter == 0 || quantiter == undefined || quantiter == null) {
                coutspan.text(prix);
            } else {
                if (parseFloat(quantiter) > parseFloat(stockProduit)) {
                    $('.messageStock').text('La quantité sélectionnée est supérieure au stock');
                    $('.bs-example-modal-center').modal('show');
                } else {
                    var cout = parseFloat(prix) * parseFloat(quantiter);
                    coutspan.text(cout);
                    for (let index = 0; index < tabProduitSelect.length; index++) {
                        if (tabProduitSelect[index].id == idProduit) {
                            tabProduitSelect[index].quantite = quantiter;
                            totale = totale - tabProduitSelect[index].coutProduit + cout;
                            tabProduitSelect[index].coutProduit = cout;
                            $("#montant_total").text(totale);
                        }
                    }
                }
                console.log(tabProduitSelect);
            }
        });

        $('#envoyer').click(function() {
            $('#venteValider').val(JSON.stringify(tabProduitSelect));
        });
    </script>
{% endblock %}
